<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.familyforce.updates">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <application>
        <receiver android:name="com.familyforce.updates.InstallResultReceiver" android:exported="false" />
        <activity android:name="com.familyforce.updates.UpdateActivity" android:exported="false"
            android:theme="@android:style/Theme.Material.NoActionBar"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <provider android:name="com.familyforce.updates.UpdateProvider"
            android:authorities="${applicationId}.updates" android:exported="false"
            android:grantUriPermissions="true" />
    </application>
</manifest>
